<a href="https://colab.research.google.com/github/PoluSanjay/PDS-2303a51731_BT11/blob/main/LAB_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Dr. Sharma', 'Prof. Gupta', 'Dr. Reddy', 'Dr. Khan'],
    'department': ['CSE', 'ECE', 'CSE', 'Math']
})

courses = pd.DataFrame({
    'course_id': [101, 102, 103, 104, 105, 106, 107],
    'course_name': ['Data Structures', 'Networks', 'Algorithms',
                    'Digital Circuits', 'Database Systems', 'Linear Algebra', 'AI'],
    'teacher_id': [1, 2, 1, 2, 3, 4, 1]
})

print("Teachers Data:\n", teachers, "\n")
print("Courses Data:\n", courses, "\n")

merged_inner = pd.merge(courses, teachers, on="teacher_id", how="inner")
merged_left = pd.merge(courses, teachers, on="teacher_id", how="left")

print("Inner Join (Courses with Teachers):\n", merged_inner, "\n")
print("Left Join:\n", merged_left, "\n")

courses_per_teacher = merged_inner.groupby('teacher_name')['course_id'].count().reset_index()
avg_courses_per_teacher = courses_per_teacher['course_id'].mean()
department_workload = merged_inner.groupby('department')['course_id'].count().reset_index()

print("Courses per Teacher:\n", courses_per_teacher, "\n")
print("Average Courses per Teacher:", avg_courses_per_teacher, "\n")
print("Department-wise Workload:\n", department_workload, "\n")

best_department = department_workload.loc[department_workload['course_id'].idxmax()]
print("Department with Highest Workload:\n", best_department)

Teachers Data:
    teacher_id teacher_name department
0           1   Dr. Sharma        CSE
1           2  Prof. Gupta        ECE
2           3    Dr. Reddy        CSE
3           4     Dr. Khan       Math

Courses Data:
    course_id       course_name  teacher_id
0        101   Data Structures           1
1        102          Networks           2
2        103        Algorithms           1
3        104  Digital Circuits           2
4        105  Database Systems           3
5        106    Linear Algebra           4
6        107                AI           1

Inner Join (Courses with Teachers):
    course_id       course_name  teacher_id teacher_name department
0        101   Data Structures           1   Dr. Sharma        CSE
1        102          Networks           2  Prof. Gupta        ECE
2        103        Algorithms           1   Dr. Sharma        CSE
3        104  Digital Circuits           2  Prof. Gupta        ECE
4        105  Database Systems           3    Dr. Reddy        CSE
5        106    Linear Algebra           4     Dr. Khan       Math
6        107                AI           1   Dr. Sharma        CSE

Left Join:
    course_id       course_name  teacher_id teacher_name department
0        101   Data Structures           1   Dr. Sharma        CSE
1        102          Networks           2  Prof. Gupta        ECE
2        103        Algorithms           1   Dr. Sharma        CSE
3        104  Digital Circuits           2  Prof. Gupta        ECE
4        105  Database Systems           3    Dr. Reddy        CSE
5        106    Linear Algebra           4     Dr. Khan       Math
6        107                AI           1   Dr. Sharma        CSE

Courses per Teacher:
   teacher_name  course_id
0     Dr. Khan          1
1    Dr. Reddy          1
2   Dr. Sharma          3
3  Prof. Gupta          2

Average Courses per Teacher: 1.75

Department-wise Workload:
   department  course_id
0        CSE          4
1        ECE          2
2       Math          1

Department with Highest Workload:
 department    CSE
course_id       4
Name: 0, dtype: object

In [2]:
import pandas as pd

products = pd.DataFrame({
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories'],
    'price': [60000, 800, 1500, 12000, 2000]
})

sales = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 101, 105, 104, 106],
    'quantity': [2, 10, 5, 1, 3, 4, 2]
})

merged_inner = pd.merge(sales, products, on="product_id", how="inner")
merged_outer = pd.merge(sales, products, on="product_id", how="outer")

merged_inner['revenue'] = merged_inner['quantity'] * merged_inner['price']
total_revenue = merged_inner['revenue'].sum()
average_price = products['price'].mean()
product_sales = merged_inner.groupby('product_name')['revenue'].sum().reset_index()
category_sales = merged_inner.groupby('category')['revenue'].sum().reset_index()
best_category = category_sales.loc[category_sales['revenue'].idxmax()]

print("Products Data:\n", products, "\n")
print("Sales Data:\n", sales, "\n")
print("Inner Join:\n", merged_inner, "\n")
print("Outer Join:\n", merged_outer, "\n")
print("Total Revenue:", total_revenue)
print("Average Product Price:", average_price)
print("\nProduct-wise Revenue:\n", product_sales)
print("\nCategory-wise Revenue:\n", category_sales)
print("\nBest-Selling Category:\n", best_category)

Products Data:
    product_id product_name     category  price
0         101       Laptop  Electronics  60000
1         102        Mouse  Accessories    800
2         103     Keyboard  Accessories   1500
3         104      Monitor  Electronics  12000
4         105   Headphones  Accessories   2000

Sales Data:
    sale_id  product_id  quantity
0        1         101         2
1        2         102        10
2        3         103         5
3        4         101         1
4        5         105         3
5        6         104         4
6        7         106         2

Inner Join:
    sale_id  product_id  quantity product_name     category  price  revenue
0        1         101         2       Laptop  Electronics  60000   120000
1        2         102        10        Mouse  Accessories    800     8000
2        3         103         5     Keyboard  Accessories   1500     7500
3        4         101         1       Laptop  Electronics  60000    60000
4        5         105         3   Headphones  Accessories   2000     6000
5        6         104         4      Monitor  Electronics  12000    48000

Outer Join:
    sale_id  product_id  quantity product_name     category    price
0        1         101         2       Laptop  Electronics  60000.0
1        4         101         1       Laptop  Electronics  60000.0
2        2         102        10        Mouse  Accessories    800.0
3        3         103         5     Keyboard  Accessories   1500.0
4        6         104         4      Monitor  Electronics  12000.0
5        5         105         3   Headphones  Accessories   2000.0
6        7         106         2          NaN          NaN      NaN

Total Revenue: 249500
Average Product Price: 15260.0

Product-wise Revenue:
   product_name  revenue
0   Headphones     6000
1     Keyboard     7500
2       Laptop   180000
3      Monitor    48000
4        Mouse     8000

Category-wise Revenue:
       category  revenue
0  Accessories    21500
1  Electronics   228000

Best-Selling Category:
 category    Electronics
revenue          228000
Name: 1, dtype: object